<!DOCTYPE html>
<html>
<head>
    <title>Local Tutor Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="container search-box">

    <h1>Local Tutor Finder</h1>
    <br>
    <p style="font-size: 50px;">Select your role</p>
    <br>
    <a href="/register" class=" box tutor" >I am Tutor</a><br>
    <a href="/search" class="box student" >I am Student</a><br>
    <a href="/admin_login" class="box admin" >Admin</a><br>

</div>

</body>
</html>